body {
    place-content: center;
    min-height: 100vh;
    background-color: rgb(177, 180, 168);
    line-height: 1.5;
}

.img {
    max-width: 100%;
    display:block;
}


.flex {
    display:flex;
    gap: 2rem;
}

.grid {
    display:grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-flow: row; */
    /* grid-auto-columns: 1fr;
    grid-template-areas: "wx efhw taig"; */
    width: min (95%, 70rem);
    margin-inline: auto;
    box-sizing: border-box;

}

.grid img {
    width: 10rem;
    aspect-ratio: 1;
    border-radius: 10%;
}

.wx-station-item {
    grid-area: wx;
}

.efhw-item {
    grid-area: efhw;
}

.taig-item {
    grid-area: taig;
}

.item {
    padding:2rem;
    border-radius: 1rem;
}

header {
    border: solid black;
    font-size: 150%;
    background-color: rgb(177, 180, 168);
    text-align: center;
    margin:3%;
}

.bg1 {
    background-color: darkgray;
}
.bg2 {
    background-color: rgb(165, 196, 87);
}
.bg3 {
    background-color: rgb(81, 153, 188);
}