$content-width: 1000px;
$main: #39af91;
$font-style: 'Open Sans', sans-serif;
$font-color: #6b9b7e;
$link-color: #075832;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #6b9b7e;
$light: #E7EDF4;
$header:  #6b9b7e;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 