<!-- <aside>
	<div class="container">
		<nav>
			<ul>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
				<!-- removed blog from header -->
				<!-- <li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li> -->
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside> -->

<header>
    <div class="flex-container">
        <div class="flex-item">
            <img src="/images/rh.jpg" alt="Robin" style="height:250px;">
        </div>
        <div class="flex-item flex-item-1">
            Robin's Projects
        </div>
    </div>
</header>
 
